<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <div class="container" style="max-width: 70%,">
        <h1>This is Secret Page </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur iure nulla dolores eos porro placeat nemo qui perferendis esse consectetur illo modi ad veniam autem, repellat quia illum deleniti! Fugit architecto dolorum est repellendus suscipit, possimus corrupti maiores aperiam nemo obcaecati dolorem ullam quaerat, nostrum quibusdam, reprehenderit veritatis praesentium esse! Repellat qui aspernatur laboriosam? Suscipit voluptate ea tenetur recusandae aliquam, adipisci, magni fugiat, quas possimus nobis aut? Sit, doloribus tempora, repellat quidem est recusandae obcaecati atque distinctio odit quaerat sapiente asperiores nemo nobis quos non necessitatibus eligendi, maxime eum? Ea totam possimus temporibus perferendis cupiditate odio dolore, labore delectus praesentium, repellat voluptas facere! Optio pariatur totam cumque earum necessitatibus ab facere aliquid ratione repellendus animi porro, quos minus consequuntur praesentium illo? Nesciunt temporibus aperiam dolorem!</p>
    </div>
    
</body>
</html>