<nav class="main-navigation">
        <div class="navbar-header animated fadeInUp">
            <a class="navbar-brand" href="#">Nandlal Web</a>
        </div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-list-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-list-item">
                <a href="/secret" class="nav-link">Secret</a>
            </li>
            <li class="nav-list-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>
            <li class="nav-list-item">
                <a href="/register" class="nav-link">Registration</a>
            </li>
        </ul>

    </nav>